/*barra de navegacion*/
.navbar {
    padding: 2rem;
    background: rgb(242, 251, 255);
    background: linear-gradient(90deg, rgba(242, 251, 255, 1) 0%, rgba(189, 207, 222, 1) 100%);
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    background: rgb(34,118,195);
    background: linear-gradient(0deg, rgba(34,118,195,1) 1%, rgba(121,186,218,1) 49%, rgba(154,202,222,1) 100%);
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  /* --- fondo de pagina*/
  .fondo {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(208, 213, 217, 1) 49%);
  }
  
  /*--- footer*/
  .footer {
    background-color: #9da7b1;
  }
  
  /* --- prueba carrusel de marcas*/
  
  .carrusel {
    align-items: center;
    background: #E3E3E3;
    display: flex;
    height: 150vh;
    justify-content: center;
  }
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }